.search-bar {
    width: 300px;
    margin: none;
}
.searchInputs {
    position: relative;
}


.data-result {
    margin-top: 5px;
    position: absolute;
    top: 65px;
    width: calc(100% + 8px);
    max-height:200px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.data-result p {
    margin-left: 10px;
    height: 45px;
}

.data-result p:hover {
color: rgb(223, 222, 222);
background: rgb(7, 47, 107);
}

.suggestion-link {
    text-decoration: none;
    color: black;
    height: 45px;
    padding: 0;
    margin: 0;
}



